<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Vue.js App</title>
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    <transition>
      <p v-if="show">Hello Vue.js!</p>
    </transition>
    <input v-model="name">
    <button v-on:click="doAdd">モンスターを追加</button>
    <ul>
      <!-- v-if="item.hp < 300" -->
      <li v-for="(item, index) in list2"
          v-bind:key="item.id"
          v-bind:class="{ tuyoi: item.hp > 300 }"
      >
        ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }} {{ item.active }}
        <span v-if="item.hp > 300">つよい!</span>
        <span v-if="item.hp < 50">瀕死!</span>
        <button v-on:click="doAttack(index)">攻撃</button>
        <button v-on:click="doRemove(index)">モンスターを削除</button>
      </li>
    </ul>
    <p>Hello {{ message }}</p>
    <p>count = {{ count }}</p>
    <div v-if="ok">v-if条件による描画</div>
    <div v-show="ok">v-show条件による表示</div>
    <template v-if="ok">
      <p v-bind:class="{ child: isChild, 'is-active': isActive}">Text</p>
      <p v-bind:style="{ color: textColor, backgroundColor: bgColor}" >Text</p>
      <p v-bind:class="classObject">classObject</p>
      <p v-bind:style="styleObject">styleObject</p>
    </template>
    <div v-if="type === 'A'">
      type は A
    </div>
    <div v-else-if="type === 'B'">
      type は B
    </div>
    <div v-else>
      すべての条件を満たさなかった
    </div>
    <img v-bind="item" v-bind:id="'thumb-' + item.id">
    <input v-model="message">
    <input v-model.number="count">
    <button v-on:click="increment">カウントを増やす</button>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink" />
    </svg>
    <input type="range" min="0" max="100" v-model="radius">
    <ol>
      <li v-for="item in list">{{ item }}</li>
      <button v-on:click="handleClick">Click</button>
    </ol>
    <button v-on:click="show=!show">切り替え</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>